<header class="container header js-header">
  <div class="container__row">
    <div class="header__top">

      <div class="header__logo"><a href="/">
        <svg class="header__logoIcon"><use xlink:href="/assets/img/spritemap.svg#icon-logo"></use></svg></a>
        <h3 class="header__logoName">Детский фотоконкурс<br>«Посмотри на меня»</h3>
      </div>

      <div class="header__languages header__languages--desk">
        <a href="" class="header__language header__language--active">Ru</a>&nbsp;
        <a href="" class="header__language">En</a>&nbsp;
      </div>
    </div>

    <span class="header__menuButton js-menu-button">Меню</span>
  </div>

  <div class="container__separator"></div>
  <div class="container__row">
    <div class="header__menu js-header-menu">
      <nav class="header__menuNav">
        <ul class="header__menuList">
          <li class="header__menuLinkItem js-menu-slide"><a href="/photo-contest/" class="header__menuLink">О конкурсе</a></li>
          <li class="header__menuLinkItem js-menu-slide"><a href="/photo-contest/" class="header__menuLink">Фотоконкурс</a></li>
          <li class="header__menuLinkItem"><a href="/museum/" class="header__menuLink">Победители</a></li>
          <li class="header__menuLinkItem"><a href="/contacts/" class="header__menuLink">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__menuBottom">
        <div class="header__languages header__languages--tab">
          <a href="" class="header__language header__language--active">Ru</a>&nbsp;
          <a class="header__language" href="/eng/">En</a>&nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="container__separator"></div>
</header>
