<section class="container photoContestStages">
  <div class="container__row">
    <div class="photoContestStages__wrapper">
      <h2 class="photoContestStages__title title title--small">Этапы
        конкурса</h2>
      <div class="photoContestStages__items">
        <div class="photoContestStages__item">
          <h3 class="photoContestStages__itemHeading"><span>01.</span>Приём
            работ</h3><span class="photoContestStages__itemDate">1 февраля-14 сентября 2023 г.</span>
        </div>
        <div class="photoContestStages__item">
          <h3 class="photoContestStages__itemHeading"><span>02.</span>Отборочный этап</h3><span class="photoContestStages__itemDate">15-28 сентября 2023 г.</span>
        </div>
        <div class="photoContestStages__item">
          <h3 class="photoContestStages__itemHeading"><span>03.</span>Полуфинал
          </h3><span class="photoContestStages__itemDate">29 сентября-15 октября 2023 г.</span>
        </div>
        <div class="photoContestStages__item">
          <h3 class="photoContestStages__itemHeading"><span>04.</span>Финал. Голосование
          </h3><span class="photoContestStages__itemDate">16 октября-30 ноября 2023 г.</span>
        </div>
        <div class="photoContestStages__item">
          <h3 class="photoContestStages__itemHeading"><span>05.</span>Подведение итогов
          </h3><span class="photoContestStages__itemDate">1 декабря 2023 г.</span>
        </div>
        <div class="photoContestStages__item">
          <h3 class="photoContestStages__itemHeading photoContestStages__itemHeading--link">Скачать
            положение</h3>

          <a href="/upload/Положение Фотоконкурс.pdf" class="photoContestStages__itemDownloadButton" download="">
            <div class="photoContestStages__itemDownloadIconWrapper">
              <svg class="photoContestStages__itemDownloadIcon">
                <use href="assets/img/spritemap.svg#icon-download-icon"></use>
              </svg>
            </div>
            <span>PDF, 350&nbsp;Kb</span>
          </a>
        </div>
      </div>
      <a href="#login" class="button button--blackInner js-open-modal bottom_stage_button">Принять участие</a>
    </div>
  </div>
</section>
