<app-header></app-header>

<app-banner></app-banner>

<section class="container photoContest" style="margin-bottom: unset">
  <div class="container__row container__row--alignCenter">
    <div class="photoContest__heading"><h1 class="photoContest__title title title--main">Фотоконкурс</h1>
      <a routerLink="/login" class="photoContest__buttonLogin button button--blackInner js-open-modal">Войти в личный кабинет</a>
    </div>
  </div>
</section>



<section class="container photoContest" style="margin-bottom: 100px; margin-top: 40px">
  <div class="container__row container__row--alignCenter preTop__description">
    <p class="text__preTop_description">
      Городской фотоконкурс «ПОСМОТРИ НА МЕНЯ» – флагманский проект компании MeetMind.
      Это открытый конкурс фотографии для профессиональных фотографов и фотолюбителей, детей и взрослых.
    </p>
    <p class="text__preTop_description" style="max-width: 583px;">
      Конкурс призван вдохновлять и содействовать развитию творческих навыков участников. Первый сезон
      Городского конкурса «ПОСМОТРИ НА МЕНЯ» пройдет в 2023 году.
    </p>
  </div>
</section>
<app-voting></app-voting>
<app-stages></app-stages>
<app-prizes></app-prizes>

