<div class="banner-slider">
  <div class="swiper banner-slider__slider swiper-container-initialized swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1735px, 0px, 0px); transition-duration: 0ms;">

      <div class="swiper-slide banner-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Юбилей научно-технического центра</h1>
          <div class="banner-slide__content-description">10 июня 1948 года на Красногорском механическом заводе основано Центральное конструкторское бюро </div>
          <div class="banner-slide__content-actions">
            <a href="" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>


      <div class="swiper-slide banner-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Участвуй. Вдохновляйся. Побеждай.</h1>
          <div class="banner-slide__content-description">Приглашаем всех принять участие в фотоконкурсе "Посмотри на меня". </div>
          <div class="banner-slide__content-actions">
            <a href="" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>

      <div class="swiper-slide banner-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Прикоснись к истории оптики</h1>
          <div class="banner-slide__content-description">Приглашаем в музей ПАО КМЗ. Экспонаты, отражающие историю развития оптической промышленности России и становления города Красногорска </div>
          <div class="banner-slide__content-actions">
            <a href="https://zenit-kmz.com/museum/" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>

      <div class="swiper-slide banner-slide" data-swiper-slide-index="2" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Выставочно-торговый центр "Зенит"</h1>
          <div class="banner-slide__content-description">Магазин "Зенит" площадью свыше 100 квадратных метров в футуристическом стиле находится на третьем этаже ГУМа. В дизайне преобладают белый цв... </div>
          <div class="banner-slide__content-actions">
            <a href="" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>

      <div class="swiper-slide banner-slide" data-swiper-slide-index="3" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Ждем тебя в нашей команде </h1>
          <div class="banner-slide__content-description">Завод приглашает высококвалифицированных рабочих: станочников, операторов и наладчиков станков ЧПУ, высококвалифицированных инженеров, разработчиков и... </div>
          <div class="banner-slide__content-actions">
            <a href="" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>

      <div class="swiper-slide banner-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Юбилей научно-технического центра</h1>
          <div class="banner-slide__content-description">10 июня 1948 года на Красногорском механическом заводе основано Центральное конструкторское бюро </div>
          <div class="banner-slide__content-actions">
            <a href="" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>


      <div class="swiper-slide banner-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1735px;">
        <div class="banner-slide__content">
          <h1 class="banner-slide__content-title">Участвуй. Вдохновляйся. Побеждай.</h1>
          <div class="banner-slide__content-description">Приглашаем всех принять участие в фотоконкурсе "Жизнь в Зените II". Прием работ до 14 сентября. </div>
          <div class="banner-slide__content-actions">
            <a href="" class="mainAboutCompany__linkText button button--round"><span>Подробнее</span></a>
          </div>
        </div>
        <img class="banner-slide__image" src="">
      </div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
  </div>
  <div class="banner-slider__controls">
    <div class="banner-navigation">
      <button class="banner-navigation__button banner-navigation__button--prev" tabindex="0" role="button" aria-label="Previous slide">
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.66726 1.8894L1.55615 9.00052L8.66726 16.1116" stroke="#202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>
      <button class="banner-navigation__button banner-navigation__button--next" tabindex="0" role="button" aria-label="Next slide">
        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.66726 1.8894L1.55615 9.00052L8.66726 16.1116" stroke="#202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
    <div class="banner-pagination swiper-pagination-bullets">
      <div class="banner-pagination__bullet banner-pagination__bullet--active"></div>
      <div class="banner-pagination__bullet"></div>
      <div class="banner-pagination__bullet"></div>
      <div class="banner-pagination__bullet"></div>
      <div class="banner-pagination__bullet"></div>
    </div>
  </div>
</div>
